[Unit] 
Description=Telegram Bot 
Wants=network-online.target 
After=network-online.target 
AssertFileIsExecutable=/home/pi/tgbot 
 
[Service] 
WorkingDirectory=/home/pi 
 
User=pi 
Group=pi 
 
EnvironmentFile=-/home/pi/tgbot.env 
ExecStart=/home/pi/tgbot 
 
Restart=on-failure 
 
StandardOutput=journal 
StandardError=inherit 
 
TimeoutStartSec=10
TimeoutStopSec=60
  
KillSignal=SIGTERM 
SuccessExitStatus=0 
 
[Install] 
WantedBy=multi-user.target